.App {
  text-align: center;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: #eee;
  background-image: url("green-grass-textures_74190-5443.jpg");
  
}
.data-grid {
  padding: 33px 50px 11px 43px;
}
.card {
  display: inline;

}

.search-bar-container {
  padding: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;

}

.table-style {
  padding: 0%;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  
}

/* @media screen and (min-width: 480px) {
  .css-1oqqzyl-MuiContainer-root {
    margin-top: 10px;
    margin-bottom: 10px;
  } 
} */

.css-1oqqzyl-MuiContainer-root {
  margin-top: 57px;
}

.AppCenter{
  background-color: #E5EBF5;
  text-align: center;
  margin-top: 2px;
  padding-top: 17px;
  padding-bottom: 23px;
  margin-bottom: 0px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
